@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pirata+One:wght@400&display=swap");

body {
  margin: 0;
}

:root {
  /* fonts */
  --font-pirata-one: "Pirata One";
  --font-stick-no-bills: "Stick No Bills";
  --font-pt-sans-caption: "PT Sans Caption";
  --font-pt-sans: "PT Sans";

  /* font sizes */
  --font-size-sm: 0.94rem;
  --font-size-base: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;

  /* Colors */
  --color-darkslategray: #252F32;

  /* border radiuses */
  --br-xs: 9px;
  --br-sm: 28px;
  --br-md: 32px;
  --br-lg: 48px;
  --br-xl: 52px;
}
